@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 220 20% 10%;
  --foreground: 0 0% 100%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
}
